In [3]:
import pandas as pd
import os


def parse_text(file):

    out_dict = {}
    with open(folder+file, 'r',encoding='gb18030',errors='ignore') as f:
  
            text = f.read() 
            header = text.split('\n') # split text
            title = header[1]# get title
            
            if '[Delayed]' in title: # check if delayed
                if '-0-'in header[-10]:
                    zone = header[-10].split('-0- ')[1] # get date
                
#                     content = " ".join(str(x) for x in header[2:-10])
                else:
                    zone = header[0].split(' Date')[1].replace(': ','')
#                     content = " ".join(str(x) for x in header[2:-8])
            else:
                if '-0-'in header[-8]:
                    zone = header[-8].split('-0- ')[1]# get date
#                     content = " ".join(str(x) for x in header[2:-8])
                else:
                    zone = header[0].split(' Date')[1].replace(': ','')
#                     content = " ".join(str(x) for x in header[2:-7])
    
            out_dict['zone'] = zone

            
    return out_dict

In [1]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2013/'
files = os.listdir(folder)

files_dict_2013={}

for file in files:
    files_dict_2013[file]=parse_text(file)
# files_dict_2013

In [2]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2014/'
files = os.listdir(folder)

files_dict_2014={}

for file in files:
    files_dict_2014[file]=parse_text(file)
# files_dict_2014

In [3]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2015/'
files = os.listdir(folder)

files_dict_2015={}

for file in files:
    files_dict_2015[file]=parse_text(file)
# files_dict_2015

In [4]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2016/'
files = os.listdir(folder)

files_dict_2016={}

for file in files:
    files_dict_2016[file]=parse_text(file)
# files_dict_2016

In [5]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2017/'
files = os.listdir(folder)

files_dict_2017={}

for file in files:
    files_dict_2017[file]=parse_text(file)
# files_dict_2017

In [6]:
folder = 'C:/Users/Iris King/Desktop/MSc_FYP/original_reports/2018/'
files = os.listdir(folder)

files_dict_2018={}

for file in files:
    files_dict_2018[file]=parse_text(file)
# files_dict_2018

In [31]:
#2013
df_2013 = pd.DataFrame(columns=['zone'])
for name in files_dict_2013.keys():
    key = files_dict_2013[name]
    new = pd.DataFrame([key])
    df_2013 = pd.merge(df_2013, new, how='outer')

In [13]:
#2013
df_2013 = pd.DataFrame(columns=['zone'])
for name in files_dict_2013.keys():
    key = files_dict_2013[name]
    new = pd.DataFrame([key])
    df_2013 = pd.merge(df_2013, new, how='outer')
    
#2014
df_2014 = pd.DataFrame(columns=['zone'])
for name in files_dict_2014.keys():
    key = files_dict_2014[name]
    new = pd.DataFrame([key])
    df_2014 = pd.merge(df_2014, new, how='outer')
    
#2015
df_2015 = pd.DataFrame(columns=['zone'])
for name in files_dict_2015.keys():
    key = files_dict_2015[name]
    new = pd.DataFrame([key])
    df_2015 = pd.merge(df_2015, new, how='outer')
    
#2016
df_2016 = pd.DataFrame(columns=['zone'])
for name in files_dict_2016.keys():
    key = files_dict_2016[name]
    new = pd.DataFrame([key])
    df_2016 = pd.merge(df_2016, new, how='outer')

#2017
df_2017 = pd.DataFrame(columns=['zone'])
for name in files_dict_2017.keys():
    key = files_dict_2017[name]
    new = pd.DataFrame([key])
    df_2017 = pd.merge(df_2017, new, how='outer')
    
#2018
df_2018 = pd.DataFrame(columns=['zone'])
for name in files_dict_2018.keys():
    key = files_dict_2018[name]
    new = pd.DataFrame([key])
    df_2018 = pd.merge(df_2018, new, how='outer')

In [35]:
df_14 =  pd.merge(df_2013,df_2014,how='outer')
df_15 =  pd.merge(df_14,df_2015,how='outer')
df_16 =  pd.merge(df_15,df_2016,how='outer')
df_17 =  pd.merge(df_16,df_2017,how='outer')
df = pd.merge(df_17,df_2018,how='outer')

In [36]:
df.groupby('zone').size()

zone
Apr 10 2017  16:07:45    1
Apr 12 2016  17:50:29    1
Apr 12 2018  22:21:05    1
Apr 15 2016  5:18:35     1
Apr 16 2018  11:28:34    1
Apr 18 2016  2:09:46     1
Apr 19 2016  2:15:59     1
Apr 19 2018  19:26:47    1
Apr 19 2018  3:58:57     1
Apr 20 2016  3:29:42     1
Apr 25 2015  0:00:00     1
Apr 25 2018  14:00:00    1
Apr 25 2018  17:08:28    1
Apr 25 2018  5:32:53     1
Apr 26 2017  15:50:22    1
Apr 30 2018  9:33:51     1
Apr 4 2017  15:59:33     1
Apr 5 2018  21:17:03     1
Apr 7 2014  14:00:00     1
Aug 1 2017  17:51:52     1
Aug 10 2016  8:50:17     1
Aug 12 2016  22:52:39    1
Aug 15 2016  17:43:53    1
Aug 23 2016  14:45:33    1
Aug 26 2013  17:44:43    1
Aug 26 2015  15:16:33    1
Aug 28 2015  0:16:23     1
Aug 30 2017  16:32:12    1
Aug 31 2016  11:48:06    1
Dec 1 2015  15:37:38     1
                        ..
Oct 9 2017  19:33:04     1
Sep 1 2015  2:42:12      1
Sep 12 2015  4:39:24     1
Sep 12 2017  16:00:03    1
Sep 14 2017  16:27:50    1
Sep 14 2017  16:29:11    1
Sep 14 2017  16:30:34    1
Sep 20 2017  15:37:20    1
Sep 20 2017  15:39:52    1
Sep 20 2017  15:43:09    1
Sep 21 2015  1:37:23     1
Sep 22 2016  18:10:34    1
Sep 22 2016  8:56:53     1
Sep 22 2017  0:17:42     1
Sep 22 2017  18:41:37    1
Sep 23 2013  17:00:00    1
Sep 23 2016  2:17:10     1
Sep 28 2017  15:41:44    1
Sep 28 2017  16:00:36    1
Sep 28 2017  16:06:59    1
Sep 28 2017  16:13:33    1
Sep 28 2017  16:21:19    1
Sep 29 2017  18:56:20    1
Sep 3 2013  0:20:14      1
Sep 30 2016  6:18:46     1
Sep 7 2017  17:48:52     1
Sep 7 2017  17:55:24     1
Sep 7 2017  18:03:14     1
Sep 7 2017  18:07:14     1
Sep 7 2017  18:11:08     1
Length: 211, dtype: int64

In [32]:
df_2013

                     zone
0                     GMT
1    Jan 22 2013  1:16:01
2    May 7 2013  15:29:35
3    May 8 2013  16:33:00
4   Jul 10 2013  19:08:30
5   Aug 26 2013  17:44:43
6     Sep 3 2013  0:20:14
7   Sep 23 2013  17:00:00
8   Oct 14 2013  20:00:00
9    Dec 9 2013  23:00:00
10  Dec 23 2013  19:00:00

In [33]:
df_2014

                     zone
0                     GMT
1   Jan 21 2014  22:00:00
2   Feb 10 2014  19:00:00
3    Apr 7 2014  14:00:00
4   Jun 30 2014  22:00:00
5    Jul 25 2014  2:55:05
6    Nov 3 2014  22:00:00
7   Nov 18 2014  20:00:00
8    Dec 4 2014  23:00:00
9   Dec 10 2014  16:00:00
10  Dec 16 2014  14:00:00