# Extract date from original data

In [1]:
import pandas as pd
contents_ = pd.read_pickle('contents_.pkl')

In [1]:
# contents_.head()

In [3]:
original = contents_['date'].to_frame()

# POS tag

In [5]:
pos = pd.read_pickle('pos_vec_300.pkl')

In [6]:
pos = pd.merge(original,pos,left_index=True, right_index=True).set_index('date')

In [7]:
pos.shape

(5363, 300)

In [8]:
pos.to_pickle('./Features/feature_pos_vec_300.pkl')

# two_gram_vec

In [9]:
two_gram = pd.read_pickle("two_gram_vec_300.pkl")

In [10]:
two_gram = pd.merge(original,two_gram,left_index=True, right_index=True).set_index('date')

In [44]:
two_gram.tail()

,gram_f1,gram_f2,gram_f3,gram_f4,gram_f5,gram_f6,gram_f7,gram_f8,gram_f9,gram_f10,...,gram_f91,gram_f92,gram_f93,gram_f94,gram_f95,gram_f96,gram_f97,gram_f98,gram_f99,gram_f100
date,,,,,,,,,,,,,,,,,,,,,
2018-06-14 13:29:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-06-14 23:17:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-06-14 23:32:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-06-15 06:55:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2018-06-15 10:26:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
two_gram.shape

(5363, 300)

In [12]:
two_gram.to_pickle('./Features/feature_two_gram_vec_300.pkl')

# tfidf_vec

In [13]:
tfidf = pd.read_pickle("tfidf_vec_300.pkl")

In [14]:
tfidf = pd.merge(original,tfidf,left_index=True, right_index=True).set_index('date')

In [2]:
# tfidf

In [15]:
tfidf.to_pickle('./Features/feature_tfidf_300.pkl')

# polarity and subjectivity

In [58]:
p_s = contents_[['polarity','subjectivity','date']].set_index('date')

In [3]:
# p_s

In [60]:
p_s.to_pickle('./Features/feature_polarity_subjectivity.pkl')

# pretrained_Doc2Vec

In [61]:
Doc2Vec = pd.read_pickle("Doc2Vec_pretrained.pkl")

In [62]:
Doc2Vec = pd.merge(original,Doc2Vec,left_index=True, right_index=True).set_index('date')

In [4]:
# Doc2Vec

In [64]:
Doc2Vec.to_pickle('./Features/feature_Doc2Vec.pkl')

# title vector

In [65]:
titleVec = pd.read_pickle('title_tfidf_vec.pkl')

In [66]:
titleVec = pd.merge(original,titleVec,left_index=True, right_index=True).set_index('date')

In [67]:
titleVec.head()

,title_tfidf_f1,title_tfidf_f2,title_tfidf_f3,title_tfidf_f4,title_tfidf_f5,title_tfidf_f6,title_tfidf_f7,title_tfidf_f8,title_tfidf_f9,title_tfidf_f10
date,,,,,,,,,,
2012-12-24 08:02:00,0.0,0.0,0.0,0.0,0.820298,0.0,0.571937,0.0,0.0,0.0
2013-01-01 06:35:00,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2013-01-04 18:42:00,0.0,1.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2013-01-07 07:39:00,1.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0
2013-01-07 08:21:00,0.0,0.0,1.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0

In [68]:
titleVec.to_pickle('./Features/feature_titleVec.pkl')

# Source vector

In [69]:
sourceVec = pd.read_pickle('source_bow_vec.pkl')

In [70]:
sourceVec = pd.merge(original,sourceVec,left_index=True, right_index=True).set_index('date')

In [72]:
sourceVec.head()

,source_bow_f1,source_bow_f2,source_bow_f3,source_bow_f4,source_bow_f5,source_bow_f6,source_bow_f7,source_bow_f8,source_bow_f9,source_bow_f10,...,source_bow_f105,source_bow_f106,source_bow_f107,source_bow_f108,source_bow_f109,source_bow_f110,source_bow_f111,source_bow_f112,source_bow_f113,source_bow_f114
date,,,,,,,,,,,,,,,,,,,,,
2012-12-24 08:02:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-01 06:35:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-04 18:42:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-07 07:39:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2013-01-07 08:21:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
sourceVec.to_pickle('./Features/feature_sourceVec.pkl')